body{
    margin:0;
    background-color: #FFF8DC;
    font-family:Arial, Helvetica, sans-serif;
    
    background-attachment: fixed;
}
header h1{
    float: left;
    margin:0;
    padding:1rem 3rem;
    background-color: #FFF8DC;
    color:#ffe3af;
    border: solid 2px #ffe3af;
    /* border-radius: 10px; */
   /* margin-top:1rem;*/
    margin: 1%;
}
 .button{
    color:whitesmoke;
    margin:auto;
    padding:1rem 3rem;
    background-color: #f1af6c;
    /* margin-top:3rem; */
    border: solid 2px #FFF8DC;
    /* border-radius: 10px; */
    align-self: center;
    margin-bottom: 1rem;
    min-width: auto;
    font-size: 20px;
}
header ul{
    list-style-type: none;
    float:right;
    color: whitesmoke;
    margin-top: 4rem;
}
header ul li{
    display:inline;
    /* color:whitesmoke; */
    /* padding-right:3rem; */
    margin:7rem;
    padding:1rem;
    /* background-color: rgb(109, 107, 107); */
    /* border: solid 2px rgba(190, 188, 188, 0.685); */
    /* border-radius: 10px; */
}

.head1{
    overflow:auto;
    padding: 15px;
    text-align: center;
    background-color:#f1af6c;
}

.head2{
    overflow:auto;
    /* margin:2rem; */
    padding: 15px;
    text-align: center;
    background-color:#ffe3af;
    /* border: solid 2px rgba(245, 245, 245, 0.685); */
    /* border-radius: 10px; */
}
.container{
    overflow:auto;
    margin:2rem;
    margin-bottom:0;
    text-align: center;
   
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:1rem;
    overflow:hidden;
    position:relative;
}
.grid-item{
    background-color:#FFFFF0;
    /* border: solid 2px rgba(245, 245, 245, 0.685); */
    /* border-radius: 10px; */
}
.grid-container img{
    max-width: 95%;
    height: auto;
    /* border: solid 2px rgba(245, 245, 245, 0.685); */
    /* border-radius: 10px; */
}
.grid-item1{
    grid-column-start:1;
    grid-column-end:3;
    padding:1rem;
}
.grid-item3{
    padding:2em;
    overflow:hidden;
    margin-bottom:1rem;
    min-width:250px;
}
.grid-item3 img{
    height:160px;
    width:300px;
    margin:1rem;
    margin:auto;;
    position:relative;
}
.grid-item2 img{
    margin:1rem;
    align-self:center;
}
footer{
    background-color:#f1af6c;
    height:auto;
    display:block;
}
.footer-grid{
    display:grid; 
    grid-template-columns: 19% 19% 19% 39%; 
}

.footer-grid-item{
    color: white;
    margin: 1rem;
}

#newsettler{
    display:block;
    min-height:10rem;
    background-color:#ffe3af;
    /* border: solid 2px rgba(245, 245, 245, 0.685); */
    border-left: 0;
    border-right:0;
}
#newsettler #desc{
    padding-top:3rem;
    text-align:center;
    font-size:3rem;
}
#input{
   align-self: center;
   text-align: center;
}
input{
    margin-right:1rem;
}

